/* importando as fontes necessarias */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


*{
    box-sizing: border-box;
    /* background: rgb(44, 43, 43); */
}

/* fazendo a teg strong fica negrita novamente */
strong{
    font-weight: 700;
}
/* fazendo o estilo da barra que fica no topo */
.topo{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 84px;
    background: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

}

/* estilo do container que vai ficar as mensagens recebidas e enviadas para a api */
.container{
    /* https://mock-api.driven.com.br/api/v6/uol/participants  */
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}
/* inicio dos estilos referente as mensagens */
.mensagem{
    display: flex;
    float: left;
    margin-left: 10px ;
    
}
.mensagem p{
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    float: left;
    border-radius: 2px;

}
/* fim dos estilos referente as mensagens */


/* estilo da barra que ficar em baixo */
.rodaPe{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* campo do formulário enviar mensagem */
.input-EnviarMensagem{
    display: flex;
    border:#ddd solid 1px;
    float:left;
    height: 80px;
    width: 100%;
    /* padding:5px 20px 5px 5px */
}

/* aqui é o estilo do lugar onse vai ser escrita as mensagens */
.input-EnviarMensagem input{
    height: 100%;
    width: 80%;
    text-align: left;
    padding-left: 10px;
    float:left;
    
}

/* o botão para clicar e enviar as mensagens */
.input-EnviarMensagem button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    font-size: 26px;
    width: 20%;
    height: 100%;
    float:left;
}

/*inicio logo da pagina e icones  */
.logoUol{
    width: 75px;
    height: 53px;
    object-fit: cover;
}

.topo ion-icon {
    color: black;
    font-size: 40px;
}

/* fim logo da pagina  e icones*/

.time{
    color: gray; /* cor para colocar no tempo que é exibido do lado nas mensagnes*/
}


/* estilos para colocar no fundo das mensagens a depender do tipo ti mensagens que ta sendo exibida ou enviada */
.fundoCinza{
    background-color: #DCDCDC;;
}
.fundoRosa{
    background-color: #FFDEDE;
}

.fundoBranco{
    background-color: #FFFFFF;
}
